.right-tiles {
  text-align: center;
  .squares {
    margin: 15px;
    display: inline;
  }
}
.left-tiles {
  text-align: center;
  .squares {
    margin-top: 16;
    margin: 15px;
    display: inline;
  }
}